body {
    background: center center repeat;
    background-image: linear-gradient(#B027E2, #1E798E);
    margin: auto;
    padding: 60px;
  }
  
  button {
    font-size: 24px;
    border-radius: 8px;
  }